@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  .image {
    height: 150px;
    width: 240px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    @include margin-bottom(0);
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-self: center;
    flex: 0 0 auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .item {
    @include margin-bottom(1.25);
    margin: 1 1;

    &:last-child {
      @include margin-bottom(0.5);
    }

    .title {
      font-size: $typographic-base-font-size * 1.6875;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-left(1.2);


      .link {
        color: var(--color-typographic-base-font);
        flex-wrap:nowrap

        &:hover,
        &:focus {
          border-bottom: 1px solid $color-dark;
          color: var(--color-typographic-base-font);
        }
      }
    }

    .description {
      font-size: $typographic-base-font-size;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include line-height(1);
      @include margin-bottom(0.75);
      @include margin-left(1.2);
    }

    .meta {
      .time {
        color: var(--color-typographic-base-font);
        font-size: $typographic-small-font-size;
        font-weight: 600;
        text-transform: uppercase;
        @include margin-left(1.2);
      }

      .divider {
        @include margin(0, 0.5);
      }

      .category {
        .link {
          color: var(--color-secondary);
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: lowercase;
          background-color: var(--color-sidebar-border);
          border-radius: 0.5rem;
          padding: 0.2rem 0.5rem;

          &:hover,
          &:focus {
            color: $color-blue;
          }
        }
      }
    }

    .more {
      color: var(--color-primary);
      font-size: $typographic-base-font-size;

      &:hover,
      &:focus {
        border-bottom: 1px solid $color-blue;
        color: var(--color-primary);
      }
    }
  }
}
