/* Import the GitHub Dark Markdown CSS */
/* Prism.js customizations */
pre[class*="language-"] {
  color: #c9d1d9;
  background-color: #0d1117;
  padding: 16px;
  border-radius: 8px;
  padding: 2em 2.5em;
  margin: 0.5em 0;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
}

code[class*="language-"]
{
  color: var(--foreground);
  background: var(--background);
  text-shadow: none;
  font-size: 0.85em;
  font-family: Menlo, SFMono-Regular, Monaco, Consolas, "Liberation Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8b949e;
}

.token.punctuation {
  color: #c9d1d9;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #ffa657;
}

.token.function-name {
  color: #79c0ff;
}

.token.boolean,
.token.number {
  color: #79c0ff;
}

.token.function {
  // github purple
  color: #d2a8ff;
}

.token.builtin {
  // github blue
  color: #79c0ff;
}

.token.property,
.token.constant,
.token.symbol {
  color: #d2a8ff;
}

.token.class-name {
  color: #ffa657;
}

.token.selector,
.token.important,
.token.keyword {
  // color: #a5d6ff;
  color: #ff7b72;
}

.token.atrule {
  // github's green
  color: #7ee787;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  // github blue
  color: #79c0ff;
}

.token.operator {
  color: #a5d6ff;
}


.token.entity,
.token.url {
  color: #ff7b72;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

